<h3>Product list</h3>
<h4>Welcome {{user.role}} {{user.first_name}}!</h4>
<div class="col-md-5 mb-3">
<form action="/products" method="GET" id="sortForm">
  <label for="sort" class="form-label">Sort By:</label>
  <select class="form-select form-select-lg mb-3" aria-label="Small select example" name="sort" id="sort">
    <option selected >-----</option>
    <option value="asc">Lowest Price</option>
    <option value="desc">Highest Price</option>
  </select>
</form>
</div>

<div style="display: flex;flex-wrap: wrap; justify-content: center;">
{{#each products}}
<div class="card" style="width: 18rem; margin: 1rem;" >
  <img src={{this.thumbnail}} class="card-img-top" alt="image">
  <div class="card-body" style="display: flex; flex-direction: column;">
    <h5 class="card-title">{{this.title}}</h5>
    <ul class="list-group list-group-flush" style="flex-grow: 1;" >
    <li class="list-group-item">category: {{this.category}}</li>
    <li class="list-group-item">Price:$ <strong> {{this.price}}</strong></li>
  </ul>

    <a href="/products/{{this._id}}" class="btn btn-outline-success">Details</a>
  </div>
</div>
{{/each}}
</div>
<nav style="display: flex; justify-content:center;">
  <ul class="pagination">
    {{#if hasPrevPage}}
      <li class="page-item">
        <a class="page-link" href="{{prevLink}}{{#if sort}}&sort={{sort}}{{/if}}">Previous</a>
      </li>
    {{/if}}
      <li class="page-item">
        <a class="page-link" href="?page={{currentPage}}">{{currentPage}}</a>
      </li>
    {{#if hasNextPage}}
      <li class="page-item">
        <a class="page-link" href="{{nextLink}}{{#if sort}}&sort={{sort}}{{/if}}">Next</a>
      </li>
    {{/if}}
  </ul>
</nav>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>